
/*colors 
  #84a59d-dk-green
  d0dcd9 lt grn
  f28482 md pink
  f8ad9d peach pink
  #84a59d purple pink
  f5cac3 lt  lt pink
  f7ede2 milk
  ffdab9 peach
  f6bd60 org-yellow











*/

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
