
body{
    background-image: url('../assets/img/background.jpg');
    background-size: cover;

   
    
   
}
.picture{
    background-image: url('../assets/img/landscape.jpg');
  background-size: cover;
  height: 26.7em;
    background-repeat: no-repeat;
  background-position: center;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border-radius: 1%;
     margin-top: 2em;
     opacity: .8;
}

.name{
    font-size: 1.5em;
    font-weight: bold;
}

.ui.menu{
    background-color: #eb8e97;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
    
  
}
.ui.menu.item:hover{
    background-color:#eb8e97 

}
.link{
    color: #f4efee;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    


}
.page{
    font-size: 1.2em;
}

.link:hover{
    color:#abcd84
}


.ui.container{
    
    
     align-items: center;
     display: flex;
    justify-content: center;

}
.together{
    background-color :#abcd84; 
    opacity: .8;
    height: 31em;
    margin-top: 2.5em;
    border-radius: 1%;
}

.ui.card{
    background-color :#abcd84; 
    font-weight: bold;
    font-size: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-top: 2em;
    width:25em;

   opacity: .9;
   
}
.group{
    margin-top: 3em;  
}
    

.ui.item{
    font-weight: bold;
    font-size: 1.5em;
}

.ui.button{
   
    background-color: #eb8e97; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
   
  
}

.ui.button:hover{
    
  
    background-color: #f5cac3;
    
}
.ui.header{
   
    font-weight: bold;
}



.footer{
    background-color: #6d849d;
    height:6em;
    margin-top: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #f4efee;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 1em !important;

}
